
/* login page css */
.container{
  display: flex;
}

.loginCard {
  width: 30vw;
  height: 80vh;
  margin-top: 20vh;
  margin: 0 auto;
  float: none;
}

.loginForm {
  height: auto;
}

.loginGroup {
  margin-top: 3vh;
  padding: 5px;
  font-weight: bold;
}

.loginBtn{
  margin-top: 4vh;
  padding: 5px;
  position: relative;
  left: 40%;
}


/* form page css */
.formContainer{
  display: flex;
}

.formsCard{
  width: 30vw;
  height: 80vh;
  margin-top: 20vh;
  margin: 0 auto;
  float: none;

}