.icon {
    border: transparent;
    height: 60px;
    width: 24%; 
    border-radius: 15px;
    background-color: rgb(233, 68, 101);
    color: white;
  
  }

  /* .container{
    height: 500px;
  } */

  /* .loginGroup{
    height: 100px;
  } */

  /* .formLabel{
    height: 100px;
  } */