.header {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

.person_icon:hover {
  color: #3b5998;
} 

.paw_icon:hover {
  color: #76d0c0;
}

.forum_icon:hover {
  color: #1DA1F2;
}